@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap");
.App {
  min-height: 100vb;
  display: flex;
  background-image: url("back.jpg");
  background-size: cover;
  background-position: center;
}
